body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    background-image:url(image.png);
    background-size: cover;
    color: aliceblue;
}
p{
    font-size: 30px ;
    font-family:arial ;
    font-weight: 700 ;
    font-style: italic;
    color: brown;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #fff;
    clear: both;
}
#para{
    color: aliceblue;
    display: inline-block;
}